<div class="sidebar" data-color="purple">

  <div class="logo"><a href="http://www.creative-tim.com" class="text-white">
      Information
    </a></div>
  <div class="navi">
    <ul class="nav">
      <li class="<%= choise == 'dashbord' ? 'nav-item active ' : 'nav-item ' %>">
        <a class="nav-link" href="http://localhost:3000/">
          <i class="material-icons">dashboard</i>
          <p class="material-icons-white" style="font-size: 20px;">Dashboard</p>
        </a>
      </li>
      <li class="<%= choise == 'table' ? 'nav-item active ' : 'nav-item ' %>">
        <a class="nav-link" href="http://localhost:3000/search">
          <i class="material-icons">search</i>
          <p class="material-icons-white" style="font-size: 20px;">Search event</p>
        </a>
      </li>
      <li class="<%= choise == 'graph' ? 'nav-item active ' : 'nav-item ' %>">
        <a class="nav-link" href="http://localhost:3000/graphs">
          <i class="material-icons">bar_chart</i>
          <p class="material-icons-white" style="font-size: 20px;">Analyze</p>
        </a>
      </li>
    </ul>
  </div>
  </div>